@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    .navigation nav {
         @include main-layout1024;
    }
    
    .homepage-box {
    
        .homepage-background {
    
            .homepage-background-black {
    
                .homepage-main {
                    @include main-layout1024;
    
                    .homepage-main-left {
    
                        h2 {
                            font-size: 26px;
                        }
    
                        h2:after {
                            top: 92px;
                        }
                        
                        p {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    
        .homepage-footer-bg {
    
            .homepage-footer {
                @include main-layout1024;
    
                .homepage-footer-text {
                    width: 300px;
    
                    h2 {
                        font-size: 18px;
                    }
    
                    p {
                        font-size: 13px;
                    }
                }
    
                .social-media {

                    a {

                        img {
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
    
    .features {
        scroll-margin-top: 71px;
    
        .features-background {

            .features-main {
                @include main-layout1024;
    
                .feature-slides {
    
                    .feature-block {
    
                        .feature-text {
                            margin-right: 40px;
    
                            h2 {
                                font-size: 24px;
                            }
                        }
    
                        .feature-pictures {
                            max-width: 240px;
                            max-height: 240px;
                            margin-right: 0;
    
                            .picture-small {
                                height: 100px;
                                width: 100px;
                            }
    
                            .picture-large {
                                height: 100px;
                                width: 220px;
                            }

                            .picture-small:before, .picture-large:before {
                                line-height: 100px;
                            }
                        }
                    }
                }   
            }
        }
    }
    
    .about-box {
    
        .about-main {
            @include main-layout1024;
    
            img {
                max-width: 300px;
                margin-right: 40px;
            }
    
            .about-right {
                padding: 40px 0;
    
                h2 {
                    font-size: 26px;
                }
    
                h2:after {
                    top: 125px;
                }
    
                p {
                    font-size: 13px;
                    text-align: justify;
                }
            }
        }
    }
    
    .pros-box {
    
        .pros-main {
            @include main-layout1024;
    
            h2 {
                font-size: 26px;
            }
    
            h2:after {
                top: 59px;
            }
    
            p {
                font-size: 13px;
            }
    
            .pros-main-bottom {
    
                .pros-bot {
                    max-width: 200px;
                    margin: 0 35px;
    
                    img {
                        margin-top: 40px;
                    }
    
                    h3 {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    
    .pricing-box {
    
        .pricing-main {
            @include main-layout1024;
    
            h2 {
                font-size: 26px;
            }

            h2:after {
                top: 59px;
            }

            p {
                font-size: 13px;
            }
    
            .pricing-main-bottom {
                min-width: 824px;
    
                .pricing-bot {
                    min-width: 250px;
    
                    .pricing-bot-top {
                        min-height: 150px;
    
                        h3 {
                            font-size: 16px;
                        }
    
                        p {
                            font-size: 64px;
    
                            span {
                                font-size: 25px;
                            }
                        }
    
                        .pricing-bot-text {
                            font-size: 13px;
                        }
                    }
    
                    ul {
    
                        li {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    
    .reviews-box {
    
        .reviews-main {  
            @include main-layout1024;
            
            h2 {
                font-size: 26px;
            }
    
            h2:after {
                top: 60px;
            }
    
            .swiper-container {
                max-width: 820px;
    
                .swiper-wrapper {
    
                    .swiper-slide {
    
                        .swiper-message {
    
                            p {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .contact-box {
        scroll-margin-top: 71px;

        .contact-main {
            @include main-layout1024;
    
            h2 {
                font-size: 26px;
            }
    
            h2:after {
                top: 59px;
            }
        }
    }
    
    .footer-box {
        background-color: $black;
    
        .footer-main {
            @include main-layout1024;

            .social-media {
                width: 460px;
            }

            .footer-copyrights {
                font-size: 12px;
            }
        }
    }
}