@import 'mixins';
@import 'variables';
@import 'keyframes';

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    @include font-mont;
    font-size: 14px;
}

section, header {
    width: 100%;
}

section, footer  {
    position: relative;
    top: $navigation;
}

.navigation {
    position: fixed;
    width: inherit;
    background-color: $black;
    z-index: 9;

    nav {
        @include main-layout;
        height: $navigation;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            @include display-flex;
        }

        ul {
            min-width: 450px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            list-style-type: none;
            padding: 0;

            li {
                text-decoration: none;
                font-size: 14px;
                opacity: 0.69;

                a {
                    text-decoration: none;
                    color: white;
                    opacity: 69px;
                    position: relative;
                    transition: $main-transition;
                    padding: 20px 0;
                }

                a:after {
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    height: 2px;
                    opacity: 0;
                    width: 100%;
                    text-align: center;
                    background-color: $red;
                    transition: $main-transition;
                }           
                
                a:active {
                    transform: scale(0.95);
                }

                a:active a:after {
                    transform: scale(1);
                }
            }

            li:hover a:after {
                opacity: 1;
            }

            li:hover {
                opacity: 1;
            }
        }
    }
}

.homepage-box {

    .homepage-background {
        min-height: calc(100vh - 72px - 105px);
        background-image: url("nuotraukos/first.jpg");
        background-position: center;
        background-size: cover;

        .homepage-background-black {
            min-height: inherit;
            width: 100%;
            background-color: rgba(28, 28, 28, 0.69);

            .homepage-main {
                @include padding-top-bot;
                @include main-layout;
                min-height: inherit;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .homepage-main-left {
                    max-width: 651px;
                    color: white;
                    margin-right: 20px;

                    button {
                        background: none;
                        color: white;
                        width: 135px;
                        height: 42px;
                        border: 2px solid white;
                        outline: none;
                        transition: $main-transition;
                        margin: 40px 0;
                        cursor: pointer;
                    }

                    button:active {
                        transform: scale(0.95);
                    }

                    img {
                        height: 110px;
                    }

                    h2 {
                        font-size: 32px;
                        position: relative;
                        margin-bottom: 65px;
                    }

                    h2:after {
                        content: '';
                        width: 84px;
                        border-bottom: 2px solid $white;
                        position: absolute;
                        top: 110px;
                        left: 0;
                    }
                    
                    p {
                        font-size: 16px;
                        line-height: 23px;
                        font-weight: 600;
                        opacity: .8;
                    }
                }

                .homepage-main-right {
                    min-width: 360px;
                    height: 425px;
                    background-color: white;
                    border-radius: 5px;
                    overflow: hidden;

                    form {
                        height: inherit;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .form-top {
                            background-color: $white;
                            padding: 17px;

                            h2 {
                                font-size: 20px;
                                text-align: center;
                                margin: 0;
            
                                span {
                                    color: $red;
                                }
                            }
                        }

                        p {
                            padding: 0 50px;
                            font-weight: 600;
                        }

                        .form-input {
                            padding-bottom: 20px;
                            padding-left: 50px;
                            padding-right: 50px;
                        
                            input {
                                border: none;
                                border-bottom: 1px solid #D8D8D8;
                                min-width: 100%;
                                outline: none;
                                padding: 5px 8px;
                            }
                        }

                        div input::placeholder {
                            @include font-mont;
                            font-size: 12px;
                            color: #D8D8D8;
                        }

                        button {
                            border: none;
                            background-color: $green;
                            height: 58px;
                            color: white;
                            font-size: 18px;
                            font-weight: 600;
                            outline: none;
                            cursor: pointer;
                            transition: 0.1s ease-in-out;
                        }

                        button:active {
                            font-size: 17px;
                        }

                        .subscription {
                            padding: 0 50px;

                            label {
                                font-weight: 600;
                                font-size: 16px;
                            }

                            .subscription-box {
                                display: flex;
                                margin: 18px 0;

                                input {
                                    display: none;
                                }

                                input:checked + .subscription-block, input:checked + .subscription-block .non-checked .checked {
                                    opacity: 1;
                                }

                                label {
                                    display: flex;
                                    align-items: center;
                                    opacity: 0.5;
                                    margin-right: 20px;
                                    cursor: pointer;

                                    h2 {
                                        font-size: 9px;
                                        margin: 5px;
                                    }

                                    .non-checked {
                                        height: 13px;
                                        width: 13px;
                                        border: 1px solid $green;
                                        border-radius: 50%;
                                        @include display-flex;

                                        .checked {
                                            border: 3px solid $green;
                                            border-radius: 50%;
                                            opacity: 0;
                                        }

                                        input:checked + .checked {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .homepage-footer-bg {
        background-color: white;

        .homepage-footer {
            @include main-layout;
            height: 105px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .homepage-footer-text {
                width: 400px;
                line-height: 20px;

                h2 {
                    font-size: 20px;
                    margin: 5px 0;
                }

                p {
                    margin: 0;
                    color: $grey;
                }
            }

            .social-media {
                width: 560px;
                display: flex;
                justify-content: space-between;

                a {
                    padding: 30px;
                    opacity: 0.65;
                    transition: $main-transition;
                }

                :last-child {
                    padding-right: 0;
                }

                a:hover {
                    opacity: 1;
                }

                a:active {
                    transform: scale(.95);
                }
            }
        }
    }
}

.features {
    background-image: url("nuotraukos/second.jpg");
    min-height: 80vh;
    background-position: center;
    background-size: cover;
    scroll-margin-top: $navigation;

    .features-background {
        min-height: inherit;
        width: inherit;
        background: linear-gradient(90deg, rgba(226, 120, 102, 0.4) 0%, rgba(102, 150, 226, 0.4) 100%);

        .features-main {
            @include main-layout;
            @include padding-top-bot;
            padding-bottom: 50px;
            display: flex;
            align-items: center;
            min-height: inherit;
        
            .slides-navigation {
                display: flex;
                flex-direction: column;

                .nav-block {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;
                    width: 100px;
                    height: 100px;
                    background-color: #A37169;
                    cursor: pointer;

                    span {
                        display: inline-block;
                        text-transform: uppercase;
                        transform: rotate(-45deg);
                        color: #fff;
                        opacity: 0.5;
                    }
                }

                .nav-block:last-child {
                    margin-bottom: 0;
                }

                .nav-block.active {
                    background-color: #E27866;
                }

                .nav-block.active span {
                    opacity: 1;
                }
            }

            .feature-slides {
                margin-left: 50px;

                .feature-block {
                    display: none;
                    color: white;
                    animation: fade-in 0.35s linear;
                    align-items: center;
                    justify-content: center;

                    .feature-text {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        margin-right: 70px;
                        max-width: 520px;

                        h2 {
                            font-size: 36px;
                            margin-top: 0;
                            margin-bottom: 30px;
                        }

                        p {
                            line-height: 20px;
                            text-align: justify;
                        }
                    }

                    .feature-pictures {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        max-width: 380px;
                        max-height: 380px;

                        .picture-small {
                            transition: $main-transition;
                            position: relative;
                            height: 170px;
                            width: 170px;
                            margin: 10px;
                            background-position: center;
                            background-size: cover;
                        }

                        .picture-large {
                            transition: $main-transition;
                            position: relative;
                            height: 170px;
                            width: 360px;
                            margin: 10px;
                            background-position: center;
                            background-size: cover;
                        }

                        .picture-small-left1 {
                            background-image: url("nuotraukos/lapai.jpg");
                        }

                        .picture-small-right1 {
                            background-image: url("nuotraukos/darzoves.jpg");
                        }

                        .picture-large-1 {
                            background-image: url("nuotraukos/laiptai.jpg");
                        }

                        .picture-small-left2 {
                            background-image: url("nuotraukos/1.jpg");
                        }

                        .picture-small-right2 {
                            background-image: url("nuotraukos/3.jpg");
                        }

                        .picture-large-2 {
                            background-image: url("nuotraukos/2.jpg");
                        }

                        .picture-small-left3 {
                            background-image: url("nuotraukos/4.jpg");
                        }

                        .picture-small-right3 {
                            background-image: url("nuotraukos/5.jpg");
                        }

                        .picture-large-3 {
                            background-image: url("nuotraukos/6.jpg");
                        }

                        .picture-small:before, .picture-large:before {
                            content: 'Explore';
                            font-weight: 600;
                            font-size: 20px;
                            text-align: center;
                            vertical-align: middle;
                            line-height: 170px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: inherit;
                            width: inherit;
                            background-color: rgba(226, 120, 102, .8);
                            opacity: 0;
                            cursor: pointer;
                            transition: $main-transition;
                        }

                        .picture-small:hover:before, .picture-large:hover:before {
                            opacity: 1;
                        }
                    }
                }

                .feature-block.active {
                    display: flex;
                }
            }   
        }
    }
}

.about-box {
    background-color: $black;
    min-height: 80vh;

    .about-main {
        min-height: inherit;
        @include main-layout;
        @include padding-top-bot;
        @include display-flex;
        justify-content: space-between;

        img {
            width: 400px;
        }

        .about-right {
            color: white;
            max-width: 450px;
            position: relative;

            h2 {
                font-size: 30px;
                margin: 0 0 50px 0;
            }

            h2:after {
                content: '';
                width: 45%;
                border-bottom: 2px solid $red;
                position: absolute;
                top: 95px;
                left: 0;
            }

            p {
                line-height: 20px;
            }

            .about-right-bottom {

                p {
                    margin: 0;
                    text-align: justify;
                    padding-left: 70px;
                }

                h3 {
                    margin: 35px 0 6px 0;
                }

                :nth-child(1):before {
                    content: '';
                    float: left;
                    background-image: url("nuotraukos/eye.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-color: $red;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    margin-right: 20px;
                }

                :nth-child(3):before {
                    content: '';
                    float: left;
                    background-image: url("nuotraukos/chat.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-color: $red;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    margin-right: 20px;
                }
            }
        }
    }
}

.pros-box {
    background-color: white;
    padding: 20px 0;

    .pros-main {
        @include main-layout;
        @include padding-top-bot;
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
            font-size: 36px;
            margin: 0 0 50px 0;
            position: relative;
        }

        h2:after {
            content: '';
            width: 64px;
            border-bottom: 2px solid $red;
            position: absolute;
            top: 73px;
            left: calc(50% - 32px);
        }

        p {
            color: $grey;
        }

        .pros-main-bottom {
            display: flex;
            max-width: 1100px;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            .pros-bot {
                @include display-flex;
                justify-content: flex-start;
                flex-direction: column;
                max-width: 285px;
                margin: 0 40px;
                transition: $main-transition;

                img {
                    margin-top: 60px;
                }

                h3 {
                    font-size: 20px;
                    font-weight: 400;
                    margin: 35px 0 25px 0  ;
                }

                p {
                    columns: $grey;
                    text-align: center;
                }
            }

            .pros-bot:hover {
                transform: scale(1.1);
            }
        }
    }
}

.pricing-box {
    background-color: $blue;
    scroll-margin-top: $navigation;

    .pricing-main {
        @include main-layout;
        @include display-flex;
        @include padding-top-bot;
        min-height: calc(100vh - 72px);
        color: white;
        flex-direction: column;

        h2 {
            font-size: 36px;
            margin: 0 0 50px 0;
            position: relative;
        }

        h2:after {
            content: '';
            width: 64px;
            border-bottom: 2px solid $green;
            position: absolute;
            top: 73px;
            left: calc(50% - 32px);
        }

        .pricing-main-bottom {
            margin-top: 40px;
            min-width: 1100px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .pricing-bot {
                min-width: 330px;
                border-radius: 5px;
                overflow: hidden;
                transition: $main-transition;
                cursor: pointer;

                .pricing-bot-top {
                    background-color: #333333;
                    @include display-flex;
                    flex-direction: column;
                    min-height: 210px;
                    border-bottom: 6px solid $green;

                    h3 {
                        font-size: 20px;
                        font-weight: 400;
                        margin: 0;
                    }

                    p {
                        font-size: 94px;
                        margin: 0;

                        span {
                            font-size: 35px;
                        }
                    }

                    .pricing-bot-text {
                        font-size: 14px;
                        color: $grey;
                    }
                }

                ul {
                    background-color: white;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;

                    li {
                        font-size: 14px;
                        color: $grey;
                        padding: 10px;
                        margin: 0;
                        text-align: center;
                    }
                }
            }

            .pricing-bot:hover {
                transform: scale(1.02) translateY(-5px);
            }

            .pricing-bot-nd {

                .pricing-bot-top {
                border-bottom: none;
                }

                ul li:first-child {
                    background-color: $green;
                    color: white;
                }
            }
        }
    }
}

.reviews-box {
    background-color: $white;
    scroll-margin-top: $navigation;

    .reviews-main {  
        @include main-layout;
        @include display-flex;
        @include padding-top-bot;
        min-height: 80vh;
        flex-direction: column;
        
        h2 {
            font-size: 36px;
            margin: 0 0 50px 0;
            position: relative;
        }

        h2:after {
            content: '';
            width: 64px;
            border-bottom: 2px solid $blue;
            position: absolute;
            top: 73px;
            left: calc(50% - 32px);
        }

        .swiper-container {
            margin: 0 auto;

            .swiper-wrapper {
                max-width: 960px;
                padding-bottom: 85px;
                display: flex;
                align-items: center;

                .swiper-slide {
                    max-width: 240px;
                    cursor: pointer;

                    .swiper-message {
                        position: relative;
                        color: white;
                        background-color: $blue;
                        border-radius: 8px;

                        p {
                            padding: 20px;
                        }
                    }

                    .swiper-bot {
                        display: flex;
                        align-items: center;

                        img {
                            height: 70px;
                            width: 70px;
                            border-radius: 50%;
                            margin: 10px 15px 10px 0;
                        }

                        .name-prof {

                            h3 {
                                font-weight: 400;
                                font-size: 20px;
                                margin: 5px 0;
                            }

                            p {
                                color: $grey;
                                font-size: 14px;
                                background: none;
                                padding: 0;
                                margin: 0;
                            }
                        }
                    }

                    .swiper-message:before {
                        content: '';
                        position: absolute;
                        height: 20px;
                        width: 20px;
                        border-radius: 2px;
                        background-color: $blue;
                        transform: rotate(45deg);
                        bottom: -9px;
                        left: 25px;
                    }
                }
            }

            .swiper-pagination .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                background: none;
                border: 1px solid #E27866;
                opacity: 1;
            }
            
            .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
                background: #E27866;
            }
        }

        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 10px;
        }
    }
}

.contact-box {
    background-color: $red;
    scroll-margin-top: calc($navigation - 1px);

    .contact-main {
        @include main-layout;
        @include display-flex;
        @include padding-top-bot;
        min-height: calc(100vh - 72px - 105px);
        flex-direction: column;
        color: white;

        h2 {
            font-size: 36px;
            margin: 0 0 50px 0;
            position: relative;
        }

        h2:after {
            content: '';
            width: 64px;
            border-bottom: 2px solid $green;
            position: absolute;
            top: 73px;
            left: calc(50% - 32px);
        }

        .contact-form {
            margin-top: 25px;
            max-width: 390px;
            max-height: 340px;
            background-color: white;
            border-radius: 5px;
            overflow: hidden;
            padding: 35px 65px;

            form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .form-input {
                    padding: 0 0 30px 0;
                    width: 260px;

                    input {
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid $grey;
                        outline: none;
                        padding: 5px 8px;
                    }
                }

                div input::placeholder {
                    @include font-mont;
                    font-size: 12px;
                    color: $grey;
                }

                button {
                    border: none;
                    background-color: $green;
                    height: 50px;
                    width: 160px;
                    color: white;
                    font-size: 15px;
                    font-weight: 600;
                    border-radius: 5px;
                    outline: none;
                    cursor: pointer;
                    transition: 0.1s ease-in-out;
                }

                button:active {
                    font-size: 14px;
                }

                .contact-us-box {
                    color: black;
                    display: flex;
                    margin-bottom: 35px;

                    input {
                        display: none;
                    }

                    input:checked + .contact-us-block, input:checked + .contact-us-block .non-checked .checked {
                        opacity: 1;
                    }

                    label {
                        display: flex;
                        align-items: center;
                        opacity: 0.5;
                        margin-right: 20px;
                        cursor: pointer;

                        h3 {
                            font-size: 9px;
                            margin: 5px;
                        }

                        .non-checked {
                            height: 13px;
                            width: 13px;
                            border: 1px solid $green;
                            border-radius: 50%;
                            @include display-flex;

                            .checked {
                                border: 3px solid $green;
                                border-radius: 50%;
                                opacity: 0;
                            }

                            input:checked + .checked {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer-box {
    background-color: $black;

    .footer-main {
        @include main-layout;
        height: 105px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .social-media {
            width: 560px;
            display: flex;
            justify-content: space-between;

            a {
                transition: $main-transition;
                padding: 30px;
                
                img {
                    height: 20px;
                }
            }

            :first-child {
                padding-left: 0;
            }
        }

        .social-media a:hover {
            transform: scale(1.1);
        }

        .social-media a:active {
            transform: scale(.95);
        }

        .footer-copyrights {
            opacity: .5;
            font-size: 18px;
            color: white;
        }
    }
}

@import 'media1024to1300';
@import 'media768to1023';
@import 'media421to767';
@import 'media420';
